
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

@font-face {
	font-family: 'futura_bk_btbook';
	src: url('../tt0140m_.woff2') format('woff2'),  url('../tt0140m_.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'futura_md_btbold';
	src: url('../tt0144m_.woff2') format('woff2'),  url('../tt0144m_.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* particleground demo */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
body {
	background: #fcfcfd;
	font-family: 'futura_bk_btbook', sans-serif;
	color: #fff;
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
}
#particles {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.intro {
	position: absolute;
	left: 0;
	top: 200px;
	padding: 0 20px;
	width: 100%;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
.centered {
    text-align: center;
    font-size: 0;
}
.centered > div {
    float: none;
    display: inline-block;
    text-align: left;
}

.myImg {
	width: 100%;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}
.imgBorder {
	border-radius: 100%;
	border: 5px solid #f9b31c;
}
.employee {
	width: 100%;
	float: none;
	text-align: center;
	margin: 0 auto;
	display: inline-table;
}
.employee .title {
	margin: 15px 0 30px;
	float: left;
	width: 100%;
	font-family: 'futura_bk_btbook', sans-serif;
	text-transform: uppercase;
	font-size: 1.8vh;
	font-weight: 600;
	text-align: center;
	letter-spacing: 1px;
	color: #0090c4;
}
.employee .description {
	font-size: 4.5vh;
	font-weight: 100;
	font-family: 'futura_bk_btbook', sans-serif;
	width: 100%;
	float: left;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 1.5px;
	color: #373435;
}
#myImg {
	width: 100%;
	height: auto;
	overflow: hidden;
}
.frame img {
	width: 100%;
	height: auto;
}
#p1 {
	text-transform: uppercase;
	font-size: 3vh
}
#welcome {
	text-transform: uppercase;
	font-size: 4vh;
	font-weight: 700;
	letter-spacing: 0.015em;
}
.responsive-circle {
	font-size: 80px;
	font-weight: 700;
	margin: 0 auto 20px;
	width: 80%;
}
.responsive-circle div {
	color: white;
	float: left;
	line-height: 1em;
	margin-top: -0.5em;
	padding-top: 50%;
	text-align: center;
	width: 100%;
}
.color1-circle::after {
	background: #005F6B;
}
.responsive-circle::after {
	border-radius: 50%;
	content: "";
	display: block;
	height: 0;
	margin-bottom: 20px;
	padding-bottom: 100%;
	width: 100%;
}
h1 {
	text-transform: capitalize;
	font-size: 85px;
	font-weight: 700;
	letter-spacing: 0.015em;
	color: #ed3a2c !important;
}
 @media only screen and (max-width: 1000px) {
}
 @media only screen and (max-width: 800px) {
}
 @media only screen and (max-width: 568px) {
}
 @media only screen and (max-width: 320px) {
}
}
