<!doctype html>
<html lang="en" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fractal Analytics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="../../favicon.ico">
<link href="static/css/bootstrap.min.css" rel="stylesheet">
<script src="static/js/jquery-1.9.0.js"></script>
<script src="static/js/script.js"></script>
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<link rel="stylesheet" href="static/css/animate.css" />
<script type='text/javascript' src='static/js/jquery-1.11.1.min.js'></script>
<script type='text/javascript' src='static/js/jquery.particleground.min.js'></script>
<script type='text/javascript' src='static/js/particals.js'></script>
<script>
    
    $(document).ready(function(){
		$.ajax({
			url: '/example',
			type: 'GET',
			success: function(response){
            $("#pap").empty();
			var obj = jQuery.parseJSON(response);
			$.each(obj.Id, function (i, item) 
			{ 
             //var imageUrl = '/static/images/' + item + '.jpg';
             var imageUrl = '/static/images/' + item.split('_')[0] + '.jpg';
			 $("#pap").append('<div class="col-xs-12 col-sm-12 col-md-6"><img src='+ imageUrl +' class="myImg imgBorder img-circle img-responsive" /><div class="title" id ="title_">'+item+'</div><div class="clear"></div>');
			});
			  	console.log(response);
			},
			error: function(error){
				console.log(error);
			}
		});
    setInterval('refreshPage()', 5000);
});

function refreshPage() { 
        location.reload(); 
    }

</script>

</head>
<body>
<div id="particles"> 
<img src="{{url_for('static', filename='images/header-logo.png')}}" style="position:absolute; right:10px; top:0; " />	
    <div class="intro">
        <div class="container"> 
        
        <!-- One Person -->      
        <!--<div id="" class="employee">
        	<div class="col-xs-12 col-sm-12 col-md-10 col-xs-push-1">
            <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
                <div class="title">Bipin</div>
                <img src="images/single.png" class="myImg img-responsive" />
                <div class="clear"></div>
                </div>
            </div>-->
            
            
        <!-- 2 Person -->    
        <!--<div id="" class="employee">
        <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
        <div class="title">Ankur</div>                
        <div class="clear"></div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
        <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
        <div class="title">Bipin</div>                
        <div class="clear"></div>
        </div>
        <img src="images/group.png" class="myImg img-responsive" />
        </div>-->
        
        
        <!-- 3 Person -->    
        <!--<div id="" class="employee">
            <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
            <div class="title">Ankur</div>                
            <div class="clear"></div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
            <div class="title">Bipin</div>                
            <div class="clear"></div>
            </div>
            
            <div class="clearfix">&nbsp;</div>
            
            <div class="col-xs-12 col-sm-12 col-md-6 col-xs-offset-3">
                <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
                <div class="title">Nazim</div>                
                <div class="clear"></div>
            </div>            
            <img src="images/group.png" class="img-responsive" style="width:80%; height:auto; margin:0 auto;" />
        </div>-->
            
            
        <!-- 4 Person --> 
            <div id="pap" class="employee">
            <!-- <div class="col-xs-12 col-sm-12 col-md-6"><img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" /><div class="title" id ="title_"></div><div class="clear"></div> -->
            </div>
            
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
            <div class="title"></div>                
            <div class="clear"></div>
            </div>
            
            <div class="clearfix" style="width:100%; height:50px; float:left;">&nbsp;</div>
            
            <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
            <div class="title"></div>                            
            <div class="clear"></div>
            </div>
            
            <div class="col-xs-12 col-sm-12 col-md-6">
            <img src="images/2.jpg" class="myImg imgBorder img-circle img-responsive" />
            <div class="title"></div>                
            <div class="clear"></div>
            </div> -->
            
            <img src="images/single.png" class="img-responsive" style="width:80%; height:auto; margin:0 auto;" />
        </div>
        
        
        <!-- All -->    
        <!--<div id="" class="employee">
        
            <div id="" class="employee">
        	<div class="col-xs-12 col-sm-12 col-md-10 col-xs-push-1">
            <img src="images/all.png" class="myImg img-responsive" />
                <div class="clear"></div>
                </div>
            </div>
        </div>-->
            
        </div>
    </div>
</div>
<!-- /container --> 

<!-- Bootstrap core JavaScript
    ================================================== --> 
<!-- Placed at the end of the document so the pages load faster -->
</body>
</html>
