<!doctype html>
<html lang="en" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fractal Analytics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<script type='text/javascript' src='static/js/jquery-1.11.1.min.js'></script>
<script type='text/javascript' src='static/js/jquery.particleground.min.js'></script>
<script type='text/javascript' src='static/js/particals.js'></script>
<script>
$(document).ready(function(){
     callService();  
    setInterval('refreshPage()', 5000);
});

function callService() {
         $.ajax({
            url: '/example',
            type: 'GET',
            success: function(response){
            var obj = jQuery.parseJSON(response);
            var html = "";
            var objeArray = obj.Id.length
            $.each(obj.Id, function (i, item) 
            {

            console.log(objeArray) ;
				var imageUrl = '/static/images/' + item + '.jpg';    
				html +='<div class="col-xs-4 col-sm-4 col-md-4" style="margin-bottom:10px;"><img src='+ imageUrl +' class="imgBorder img-circle img-responsive" /><div class="title" id ="title_">'+item+'</div></div><div class="clear"></div>';
				$("#pap").html(html);
             
            });
                console.log(html);
               $("#parent").html($("#pap"));
                console.log(response);
            },
            error: function(error){
                console.log(error);
            }
        });
}

function refreshPage() { 
    callService()
}

</script>
</head>
<body>
<div id="particles"> 
    <img src="{{url_for('static', filename='images/header-logo.png')}}" style="position:absolute; right:10px; top:0; " />    
    <div class="intro">  
        <div id="parent"  class="container"> 
            <div id="pap" class="employee centered"> 
            </div>
        </div>
  </div>
</div>

</body>
</html>
