<!doctype html>
<html lang="en" class="no-js">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Fractal Analytics</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="0">
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/bootstrap.min.css" />
<script type='text/javascript' src='static/js/jquery-1.11.1.min.js'></script>
<script type='text/javascript' src='static/js/jquery.particleground.min.js'></script>
<script type='text/javascript' src='static/js/particals.js'></script>

<script>
$(document).ready(function(){
     callService();  
     setInterval('refreshPage()', 1000);
});

function callService() {
         $.ajax({
            url: '/example',
            type: 'GET',
            success: function(response){
            var obj = jQuery.parseJSON(response);
            var htmlArray = "";
            var objeArray = obj.Id.length
            console.log("objeArray", objeArray) ;

            if (objeArray === null || objeArray=== undefined || objeArray=== '' || objeArray === 0) {
                $("#pap").html('');
                console.log("unloadinggggggggggggggg");
               
            }else{

                $.each(obj.Id, function (i, item) 
                {
                console.log(item)
                var imageUrl = '/static/images/' + item.split(" ")[0] + '.jpg';      
                htmlArray +='<div class="col-xs-4 col-sm-4 col-md-4" style="margin-bottom:10px;"><img src='+ imageUrl +' class="imgBorder img-circle img-responsive" onerror="ImgError(this)"/><div class="title" id ="title_">'+item+'</div></div><div class="clear"></div>';
                });
                console.log("asdadasda", htmlArray) ;
                $("#pap").html(htmlArray);
              
                console.log(response);
            }
            },
            error: function(error){
                console.log(error);
            }
        });
}

function refreshPage() { 
    callService()
}

function ImgError(source){
    source.src = "/static/images/unknown.jpg";
    source.onerror = "";
    return true;
}


</script>
</head>
<body>
<div id="particles"> 
    <img src="{{url_for('static', filename='images/header-logo.png')}}" style="position:absolute; right:10px; top:0; " />    
    <div class="intro">  
        <div  class="container"> 
            <div id="pap" class="employee centered"></div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3"><center><img src="{{url_for('static', filename='images/welcome.png')}}" class="img-responsive" /></center></div>
        </div>
        <div class="clear"></div>
        
        
  </div>
</div>

</body>
</html>
